<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="aggressiveLazyLoading" value="false" />
    </settings>

    <typeAliases>
        <package name="com.rttsoft.webserver.entity"/>
        <package name="com.rttsoft.webserver.vo"/>
        <package name="com.rttsoft.webserver.qo"/>
    </typeAliases>
    <!--<mappers>-->
        <!--<mapper resource="mapping/IndexMapper.xml"/>-->
    <!--</mappers>-->
</configuration>